<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">HR Reports & Analytics</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-8">
            <p class="text-center">
              <strong>Employee Headcount: January 2025</strong>
            </p>
            <div class="chart">
              <!-- Headcount Chart Canvas -->
              <canvas id="headcountChart" style="height: 180px;"></canvas>
            </div>
            <!-- /.chart-responsive -->
          </div>
          <!-- /.col -->
          <div class="col-md-4">
            <p class="text-center">
              <strong>HR KPIs</strong>
            </p>
            <div class="progress-group">
              <span class="progress-text">Employee Satisfaction</span>
              <span class="progress-number"><b>85</b>/100</span>
              <div class="progress sm">
                <div class="progress-bar progress-bar-aqua" style="width: 85%"></div>
              </div>
            </div>
            <!-- /.progress-group -->
            <div class="progress-group">
              <span class="progress-text">Retention Rate</span>
              <span class="progress-number"><b>92</b>/100</span>
              <div class="progress sm">
                <div class="progress-bar progress-bar-green" style="width: 92%"></div>
              </div>
            </div>
            <!-- /.progress-group -->
            <div class="progress-group">
              <span class="progress-text">Time to Hire</span>
              <span class="progress-number"><b>18</b>/30 days</span>
              <div class="progress sm">
                <div class="progress-bar progress-bar-yellow" style="width: 60%"></div>
              </div>
            </div>
            <!-- /.progress-group -->
            <div class="progress-group">
              <span class="progress-text">Training Completion</span>
              <span class="progress-number"><b>78</b>/100</span>
              <div class="progress sm">
                <div class="progress-bar progress-bar-red" style="width: 78%"></div>
              </div>
            </div>
            <!-- /.progress-group -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- ./box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

<!-- Reports Table -->
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Available Reports</h3>
        <div class="box-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search reports...">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Report Name</th>
              <th>Period</th>
              <th>Generated Date</th>
              <th>Size</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="report in reports">
              <td>{{ report.name }}</td>
              <td>
                <span class="label label-info">{{ report.period }}</span>
              </td>
              <td>{{ report.generated }}</td>
              <td>2.3 MB</td>
              <td>
                <button class="btn btn-xs btn-primary" title="Download Report">
                  <i class="fa fa-download"></i> Download
                </button>
                <button class="btn btn-xs btn-info" title="View Report">
                  <i class="fa fa-eye"></i> View
                </button>
                <button class="btn btn-xs btn-warning" title="Schedule Report">
                  <i class="fa fa-calendar"></i> Schedule
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>

<!-- Quick Stats -->
<div class="row">
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>150</h3>
        <p>New Orders</p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-green">
      <div class="inner">
        <h3>53<sup style="font-size: 20px">%</sup></h3>
        <p>Bounce Rate</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3>44</h3>
        <p>User Registrations</p>
      </div>
      <div class="icon">
        <i class="fa fa-user-plus"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-red">
      <div class="inner">
        <h3>65</h3>
        <p>Unique Visitors</p>
      </div>
      <div class="icon">
        <i class="ion ion-pie-graph"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
</div>

<!-- Generate Report Modal -->
<div class="modal fade" id="generateReportModal" tabindex="-1" role="dialog" aria-labelledby="generateReportModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="generateReportModalLabel">Generate New Report</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="reportType">Report Type</label>
            <select class="form-control" id="reportType">
              <option>Sales Report</option>
              <option>User Activity Report</option>
              <option>Inventory Report</option>
              <option>Financial Report</option>
              <option>Performance Report</option>
            </select>
          </div>
          <div class="form-group">
            <label for="reportPeriod">Period</label>
            <select class="form-control" id="reportPeriod">
              <option>Daily</option>
              <option>Weekly</option>
              <option>Monthly</option>
              <option>Quarterly</option>
              <option>Yearly</option>
            </select>
          </div>
          <div class="form-group">
            <label for="dateRange">Date Range</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="text" class="form-control pull-right" id="dateRange">
            </div>
          </div>
          <div class="form-group">
            <label for="reportFormat">Format</label>
            <select class="form-control" id="reportFormat">
              <option>PDF</option>
              <option>Excel</option>
              <option>CSV</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Generate Report</button>
      </div>
    </div>
  </div>
</div>

<!-- Action buttons -->
<div class="row">
  <div class="col-xs-12">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#generateReportModal">
      <i class="fa fa-plus"></i> Generate New Report
    </button>
    <button type="button" class="btn btn-primary">
      <i class="fa fa-calendar"></i> Schedule Reports
    </button>
    <button type="button" class="btn btn-info">
      <i class="fa fa-envelope"></i> Email Reports
    </button>
  </div>
</div>
